@model TARge21Shop.Models.Spaceship.SpaceshipDeleteViewModel

<h1>Delete</h1>
<div>
    <h3>Spaceships</h3>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>
        
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Name)
        </div>
        
        <div class="form-group row">
            <label asp-for="ShipType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ShipType)
        </div>
        
        <div class="form-group row">
            <label asp-for="CrewCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CrewCount)
        </div>
        
        <div class="form-group row">
            <label asp-for="PassangerCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.PassangerCount)
        </div>
        
        <div class="form-group row">
            <label asp-for="Cargo" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Cargo)
        </div>
        
        <div class="form-group row">
            <label asp-for="FullTripCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FullTripCount)
        </div>
        
        <div class="form-group row">
            <label asp-for="MaintenanceCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.MaintenanceCount)
        </div>
        
        <div class="form-group row">
            <label asp-for="LastMaintenance" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.LastMaintenance)
        </div>
        
        <div class="form-group row">
            <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EnginePower)
        </div>
        
        <div class="form-group row">
            <label asp-for="MaidenLaunch" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.MaidenLaunch)
        </div>
        
        <div class="form-group row">
            <label asp-for="BuildDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BuildDate)
        </div>
        
        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>
        
        <div class="form-group row">
            <label asp-for="ModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ModifiedAt)
        </div>
    </dl>

    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>